reset_form() {
    this.aif = {
        aif_lines: [],
        aif_customer_lines: [],
        // other existing AIF fields...
    };

    this.reset_changes();
    this.reset_customer_changes();
},











recalculateAllLines

if (this.nav_context.context === "edit" && line.id) {
    this.changes.edited_lines.add(line.id);
}

if (this.nav_context.context == "edit") {
    this.changes.deleted_lines.add(line.id);
}

if (this.nav_context.context === "edit") {
    row.id = null;
}

navigate(id, context = null) {
    this.nav_context.context = context;
    this.current_screen = id;
}

<section id="aif_app" class="no-screen-navigation" data-screen-name="AIF App">
    <div v-if="current_screen === 'aif_app'">
        

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">

        <li class="breadcrumb-item">
            <a href="#">
                <i
                    class="bi bi-arrow-left-circle-fill"
                    @click="navigate(nav_context.previous)"
                ></i>
            </a>
        </li>

        <li class="breadcrumb-item">
            <a href="#" @click="navigate('list_of_aifs')">
                AIFs
            </a>
        </li>

        <li
            v-if="nav_context.context === 'edit'"
            class="breadcrumb-item active"
            aria-current="page"
        >
            [[ aif.aif_id ]]
        </li>

        <li
            v-if="nav_context.context === 'template'"
            class="breadcrumb-item active"
            aria-current="page"
        >
            AIF As Template
        </li>

    </ol>
</nav>


current_screen: current_screen,
nav_context: nav_context,
selected_aif: selected_aif,
aifs: aifs,
dialog: dialog,

this.aif becomes
this.selected_aif


watch: {
    nav_context: {
        async handler(newVal) {
            if (
                this.current_screen === "aif_app" &&
                newVal.context === "new"
            ) {
                this.reset_form();
            }

            if (
                this.current_screen === "aif_app" &&
                (
                    newVal.context === "edit" ||
                    newVal.context === "template"
                )
            ) {
                await this.setup_edit_context();
            }
        },
        deep: true,
    },
},

        
        
        
